  <!-- joining -->
     <div class="container Joining">
        <div class="card qetah-family">
          <div class="card-head">
            <p class="card-title text-center">Join Qetah Family</p>
            <p class="card-desc">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor
              repudiandae odio qui veniam vero modi officia natus quo,
              temporibus amet dolorem dignissimos neque eveniet nemo rem error
              placeat fuga quisquam.
            </p>
            <div class="field">
              <input
                type="email"
                class="field-text"
                placeholder="Email Address"
              />
            </div>
            <button class="btn btn-secondary btn-pill text-center">
              SUBMIT
            </button>
          </div>
          <div
            class="card-body"
            style="background-image: url('/assets/qetah_phase_1/images/family-qetah.jpg')"
          ></div>
        </div>
      </div>
       <!-- joining end -->
      <hr class="small-hr" />
<!-- footer start  -->
      <footer>
        <div class="container social">
          <div class="logo">
            <img
              src="/assets/qetah_phase_1/images/black-qetah-removebg-preview.png"
              alt=""
              width="100px"
            />
          </div>
          <div class="links">
            <ul>
              <li><a href="./refunds.html">Exchange & Refund</a></li>
              <li><a href="./Terms.html">Terms & Conditions</a></li>
              <li><a href="./privacy.html">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="information">
            <div class="p-info">
              <p class="desc"><i class="bx bxs-phone"></i>+97450455909</p>
              <p class="desc"><i class="bx bxl-gmail"></i>info@qetah.qa</p>
            </div>
            <div class="social-logo">
              <button
                class="btn btn-light btn-icon btn-circle btn-circle-sm bx bxl-facebook"
              ></button>
              <button
                class="btn btn-light btn-icon btn-circle btn-circle-sm bx bxl-twitter"
              ></button>
              <button
                class="btn btn-light btn-icon btn-circle btn-circle-sm bx bxl-google"
              ></button>
            </div>
          </div>
          <div class="quote">
            <i class="bx bxs-quote-alt-left"></i>
            The only way to do great work is to love what you do. - Steve Jobs
            <i class="bx bxs-quote-alt-right"></i>
          </div>
        </div>
      </footer>
      <hr class="copy-right-hr" />
      <div class="copy-right text-center">
        &copy; 2022 Qetah.Qa All Rights Reserved
      </div>

      <!-- footer end -->
       <div
      class="phone-call cbh-phone cbh-green cbh-show cbh-static"
      id="clbh_phone_div"
    >
      <a
        id="WhatsApp-button"
        href="https://wa.me/5521980619913"
        target="_blank"
        class="phoneJs"
        title="WhatsApp 360imagem"
        ><div class="cbh-ph-circle"></div>
        <div class="cbh-ph-circle-fill"></div>
        <div class="cbh-ph-img-circle1">
          <i class="bx bxs-phone"></i>
        </div>
      </a>
    </div>