  <h1 id="page-header"></h1>

<!-- Student Header -->
<header id="header" class="nxt-header program-header">
  <div class="navbar-brand program-header-navbar" :class="{'shifted-navbar': isStatic}">
    <a href="#" class="sm-logo">
      <img src="/assets/qetah_phase_1/images/black-qetah-removebg-preview.png" class="sm-img" alt="Responsive Logo"
        width="150px" />
    </a>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/index" class="breadcrumb-link" id="title_qetah_h">Qetah</a>
      </li>
      <li class="breadcrumb-item active" id="current-page"></li>
    </ol>

  </div>
  <div class="navbar-brand-lt">
    <div class="bredcum-opert">
      <button class="navbar-toggler d-xl-none navbarDropToggler" type="button" data-target="#mobileMenu"
        aria-controls="mobileMenu" style="display: none"></button>
      <button class="navbar-toggler sidebar-toggler d-xl-none navbarDropToggler mobile-desktop" id="toggleButton"
        type="button" data-target="#mobileMenu" @click="sidebarOpen = !sidebarOpen" aria-controls="sidebarMenu">
        <i class='bx bxs-grid'></i>
      </button>
      <ol class="breadcrumb second-breadcrumb" style="margin:0;">
        <li class="breadcrumb-item"><a href="/index" class="breadcrumb-link" id="title_qetah_h">Qetah</a></li>
        <li class="breadcrumb-item active" id="current-page">Home</li>
      </ol>
    </div>
    <nav class="no-collapse">
      <ul>
        <div class="main-crospo">
          <li class="nav-drop-wrap">
            <div class="icon-dropdown" x-data="{ isOpen: false }" @click.away="isOpen = false">
              <i class='bx bx-globe' @click="isOpen = !isOpen"></i>
              <ul class="dropdown-menu" :class="{ 'show': isOpen }" style="flex-direction: column; display: none;"
                x-show="isOpen" x-transition>
                <li>
                  <a onclick="switchLanguage('en');dynamic_translate();noice();changeLanguage()">
                    <img src="/assets/qetah_phase_1/images/eng.png" style="width: 50px; height: 25px;" alt>
                    <a href="#" id="sidebar_eng">ENG</a>
                  </a>
                </li>
                <li>
                  <a onclick="switchLanguage('ar');dynamic_translate();noice();changeLanguage()">
                    <img src="/assets/qetah_phase_1/images/ara.webp" style="width: 50px; height: 25px;" alt>
                    <a href="#" id="sidebar_ara">ARA</a>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-drop-wrap res-link">
            <a class="nav-icon-link has-ripple drop-indicator navDropToggler" href="javascript:void(0)">
              <!-- <span class="badge badge-secondary badge-pill noti-badge">0</span> -->
              <div x-data="{ isOpenRight: false }">
                <!-- <i class="bx bx-heart" @click="isOpenRight = true"></i> -->
                <div class="offcanvas offcanvas-right" :class="{ 'open': isOpenRight }" id="offcanvas">
                  <div class="offcanvas-header">
                    Add to Wishlist
                    <button class="btn-close" @click="isOpenRight = false"></button>
                  </div>
                  <div class="select-all" style="padding: 16px 16px 0px 16px;">
                    <label class="check check-secondary">
                      <input type="checkbox" id="selectAll1" />
                      <p class="m-0" id="select_All_h"></p>
                    </label>
                    <hr style="margin: 5px 0px;
                  border: none;
                  width: 100%;
                  color: black;
                  padding: 0;
                  background: darkgrey;
                  height: 1px;">
                  </div>
                  <div class="offcanvas-body" id="offcanvasBody">

                  </div>

                  <div class="offcanvas-foot">

                    <div class="btn-grp">
                      <button class="btn btn-remove" id="deleteSelectedBtn">Delete</button>
                      <button class="btn btn-cart" id="addToCartBtnM">Add to cart</button>
                    </div>
                  </div>
                </div>
                <div class="overlay" :class="{ 'show': isOpenRight }" @click="isOpenRight = false"></div>
              </div>
            </a>
          </li>
          <li class="nav-drop-wrap res-link">
            <a class="nav-icon-link has-ripple drop-indicator navDropToggler" href="javascript:void(0)">
              <span class="badge badge-secondary badge-pill noti-badge cart-badge">0</span>
              <div x-data="{ isOpenRight: false }">
                <i class="bx bx-cart" @click="isOpenRight = true"></i>
                <div class="offcanvas offcanvas-right" :class="{ 'open': isOpenRight }" id="offcanvas-cart">
                  <div class="offcanvas-header" id="addToCartBtnH">
                    Add to Cart
                    <button class="btn-close" @click="isOpenRight = false"></button>
                  </div>
                  <div class="select-all" style="padding: 16px 16px 0px 16px;">
                    <label class="check check-secondary">
                      <p class="m-0" id="select_All_m"> </p>
                      <input class="select-all-checkbox" type="checkbox" id="selectAll2" />
                    </label>

                    <hr style="margin: 5px 0px;
                    border: none;
                    width: 100%;
                    color: black;
                    padding: 0;
                    background: darkgrey;
                    height: 1px;">
                  </div>
                  <div class="offcanvas-body offcanvas-body-cart" id="offcanvasBody-cart">
                  </div>
                  <div class="offcanvas-foot">
                    <div class="card-title" id="cartSummary">Summary :-</div>

                    <div class="subtotal">
                      <p id="subTotalText">Subtotal : </p>
                      <p style="font-weight: 600;" id="subTotal"></p>
                    </div>
                    <div class="btn-grp">
                      <button class="btn btn-remove d-none" id="del-cart">Delete</button>
                      <a href="/cart-items">
                        <button class="btn btn-cart" id="goToCart">Go to Cart</button>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="overlay" :class="{ 'show': isOpenRight }" @click="isOpenRight = false"></div>
              </div>
            </a>
          </li>

          <li class="nav-drop-wrap nav-drop-user" title="Account">
            <a class="has-ripple drop-indicator navDropToggler" href="javascript:void(0)">
              <div class="img-no-pp">
                <img src="/assets/qetah_phase_1/images/avatar-user.png" alt="User" />
              </div>
            </a>
          </li>
        </div>
      </ul>
    </nav>
  </div>
</header>

<!-- Student Header -->
{% block extar_scripts %}

<script>
  // Function to update the page content based on translations
  function updateHeaderContent(translations) {
    // Update the logo alt text
    // document.getElementById('smallLogoImg').textContent = translations['logo_alt'];
    document.getElementById('title_qetah_h').textContent = translations['title_qetah_home'];
    document.getElementById('addToCartBtnH').textContent = translations['addToCartBtnH'];
    document.getElementById('select_All_h').textContent = translations['select_All_h'];
    document.getElementById('select_All_m').textContent = translations['select_All_m'];
    document.getElementById('addToCartBtnM').textContent = translations['addToCartBtnM'];
    document.getElementById('subTotalText').textContent = translations['subTotalText'];
    document.getElementById('cartSummary').textContent = translations['cartSummary'];
    document.getElementById('del-cart').textContent = translations['deleteSelectedBtn'];
    document.getElementById('goToCart').textContent = translations['goToCartBtn'];
    document.getElementById('deleteSelectedBtn').textContent = translations['deleteSelectedBtn'];
    // Update the language options
    document.getElementById('sidebar_eng').textContent = translations['sidebar_eng'];
    document.getElementById('sidebar_ara').textContent = translations['sidebar_ara'];
  }


  document.getElementById('goToCart').addEventListener('click', () => {
    window.location.href = 'cart-items.html';
  });

  // main js

  function toggleMenu() {
    const mobileMenu = document.getElementById("mobileMenu");
    mobileMenu.classList.toggle("show");
  }
  document
    .querySelector(".navbar-toggler")
    .addEventListener("click", (e) => {
      e.stopPropagation();
      toggleMenu();
    });

  // sidebar js

  document.addEventListener("DOMContentLoaded", () => {

    function toggleSidebar() {
      const sidebar = document.getElementById("sidebar");
      sidebar.classList.toggle("open");
      sidebar.style.display = sidebar.classList.contains("open")
        ? "block"
        : "none";
    }

    function closeSidebarOnClickOutside(event) {
      const sidebar = document.getElementById("sidebar");
      const toggleButton = document.getElementById("toggleButton");

      if (
        !sidebar.contains(event.target) &&
        !toggleButton.contains(event.target)
      ) {
        sidebar.classList.remove("open");
        sidebar.style.display = "none";
      }
    }

    function updateSidebarBehavior() {
      const toggleButton = document.getElementById("toggleButton");
      const mediaQuery = window.matchMedia("(max-width: 1024px)");

      if (mediaQuery.matches) {
        sidebar.style.display = "none";
        toggleButton.addEventListener("click", handleSidebarToggle);
        document.addEventListener("click", closeSidebarOnClickOutside);
      } else {
        toggleButton.removeEventListener("click", handleSidebarToggle);
        document.removeEventListener("click", closeSidebarOnClickOutside);
        const sidebar = document.getElementById("sidebar");
        sidebar.style.display = "block";
        sidebar.classList.remove("open");
      }
    }
    function handleSidebarToggle(event) {
      event.stopPropagation();
      toggleSidebar();
    }
    updateSidebarBehavior();
    window.addEventListener("resize", updateSidebarBehavior);
  });

  // sideebar content js
  document.addEventListener("DOMContentLoaded", function () {
    const toggler = document.querySelector(".sidebar-toggler");
    const sidebar = document.getElementById("sidebar");
    const contentArea = document.querySelector(".content-area");

    toggler.addEventListener("click", function (event) {
      event.stopPropagation();
      contentArea.classList.toggle("sidebar-area-content");
    });

    document.addEventListener("click", function (event) {
      if (
        !sidebar.contains(event.target) &&
        !toggler.contains(event.target)
      ) {
        contentArea.classList.remove("sidebar-area-content");
      }
    });
    //for title breadcrumd
    const currentPage = document.title || window.location.pathname.split("/").pop().replace(/-/g, " ").replace(".html", "");
    document.getElementById("current-page").textContent = currentPage;
  });


  // Function to switch language and refresh the page
  function switchLanguage(lang) {
    localStorage.setItem('selectedLanguage', lang);
    dynamic_translate();
    location.reload();
  }
  function dynamic_translate() {
    const selectedLanguage = localStorage.getItem('selectedLanguage');
    if (selectedLanguage === 'ar') {
      document.body.classList.add('rtl');
    } else {
      document.body.classList.remove('rtl');

    }
  }

  //for page titles ar to eng
  function setPageTitle(pageTitles, pageHeaders) {
    const selectedLanguage = localStorage.getItem('language') || 'ar';
    document.title = pageTitles[selectedLanguage] || pageTitles['en'];
    document.getElementById('page-header').textContent = pageHeaders[selectedLanguage] || pageHeaders['en'];
  }
  function changeLanguage(lang) {
    localStorage.setItem('language', lang);
    location.reload();
  }
</script>
{% endblock %}