@import "./layouts/_layouts";
@import "./pages/_pages";

.white-text {
  color: white !important;
}

// [data-field="ar"] {
//     height: 0px; /* Set height to 0 pixels */
// }
body {
  width: 100%;
  height: auto;
  background-color: white;
}

body[dir="rtl"] .Joining .qetah-family .card-body {
  border-radius: 7px 150px 150px 7px;
}

body[dir="rtl"] .sidebar-header {
  right: 0;
  left: auto;
}

body[dir="rtl"] .phone-call {
  left: 0;
  right: auto;
}

body[dir="rtl"] .custom-tooltip {
  left: auto !important;
  right: 65px;
}

body[dir="rtl"] .custom-tooltip::after {
  left: auto !important;
  right: -15px !important;
  transform: translateY(-50%) rotate(270deg) !important;
}

body[dir="rtl"] .About .container .images img {
  border-radius: 0px 0px 200px 0px;
}

body[dir="rtl"] .Story .container .images img {
  border-radius: 0px 0px 0px 200px;
}

body[dir="rtl"] .mySwiper .swiper-wrapper .swiper-slide .s1 {
  text-align: right;
  padding-right: 100px;
  padding-left: 0px;
}

body[dir="rtl"] .program-header-navbar {
  margin-left: 0px;
  margin-right: 45px;
}

body[dir="rtl"] .our-story .info-text p {
  text-align: right;
}

@media (max-width: 1024px) {
  body[dir="rtl"] .mySwiper .swiper-wrapper .swiper-slide .s1 {
    padding-right: 0px;
  }
}

@media (max-width: 576px) {
  body[dir="rtl"] .mySwiper .swiper-wrapper .swiper-slide {
    display: block;
  }

  body[dir="rtl"] .mySwiper .swiper-wrapper .swiper-slide .s1 {
    width: 100%;
  }

  body[dir="rtl"] .mySwiper .swiper-wrapper .swiper-slide .image {
    margin: 0 auto;
  }

  body[dir="rtl"] .mySwiper .swiper-wrapper .swiper-slide .image img {
    width: 100%;
    height: 100%;
  }

  body[dir=rtl] .Story .container .images img {
    border-radius: 0px;
  }

  body[dir=rtl] .Joining .qetah-family .card-head .card-title {
    line-height: 1.5;
  }

  body[dir=rtl] .Blogs .blog-slider {
    margin: 0;
  }
}


body[dir="rtl"] .offcanvas-right {
  left: 0;
  right: auto;
  transform: translateX(0%);
}

body[dir="rtl"] .offcanvas-right {
  transform: translateX(-100%);
}

body[dir="rtl"] .offcanvas-body .check input {
  margin-left: 23px;
}

body[dir="rtl"] .section-products .filtered-cards .field {
  right: 283px;
}

body[dir="rtl"] .offcanvas-header .btn-close {
  left: 10px;
  right: auto;
}

body[dir="rtl"] .offcanvas-right.open {
  transform: translateX(0%);
}

body[dir="rtl"] .detailed-product .row .product-content-area .product-detail-content .product-body .icon p {
  height: auto !important;
}

body[dir="rtl"] .badge {
  height: 25px !important;
}

body[dir="rtl"] .btn-icon .icon-post {
  transform: rotate(180deg);
}

body[dir="rtl"] .tabs .tab-panes .row {
  align-items: baseline;
}

body[dir="rtl"] .products .swiper .swiper-wrapper .swiper-slide .products .badge,
body[dir="rtl"] .section-products .filtered-cards .cards .products .badge {
  width: 100px;
  left: -10px;
}

.products .swiper .swiper-wrapper .swiper-slide .products .badge,
.section-products .filtered-cards .cards .products .badge {
  width: 100px;
}

body[dir="ltr"] .product-card .card-body [data-field="en"] {
  height: 0px !important;
}

body[dir="rtl"] .swiper-wrapper .product-card p {
  margin: 0px;
}

body[dir="rtl"] .product-card .card-desc {
  height: auto !important;
}

body[dir="rtl"] .Story .container .images {
  justify-content: start;
}


html {
  overflow-x: hidden;
}

/* CSS to remove the default arrows from all number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  /* For Firefox */
}

.thumbnail {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.product-image {
  position: relative;
}

.product-image img {
  width: 600px;
  height: 400px;
  display: none;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid white;
  border-radius: 50%;
  cursor: none;
  width: 150px;
  height: 150px;
  display: none;
  background-repeat: no-repeat;
  background-size: 600px 400px;
  pointer-events: none;
}

@media (max-width: 768px) {
  .program-header-navbar .navbarDrop {
    z-index: 9999;
  }

  .nxt-header .navbar-brand .navbarDrop ul li {
    margin: 15px 0px;
  }
}

.nxt-header {
  box-shadow: none;
}

.breadcrumb .active {
  color: #707070;
}

.main-crospo {
  display: flex;
  align-items: center;
}

.icon-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;

  i {
    font-size: 24px;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: var(--shadow);
    border-radius: var(--rounded);
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 10px 10px;
      display: flex;
      gap: 10px;

      a {
        text-decoration: none;
        color: var(--text);
        display: block;
      }

      &:hover {
        background-color: rgb(216, 216, 216);
        color: var(--info);
      }
    }

    &.show {
      display: block;
      z-index: 9999;
    }
  }
}

.sidebar-active {
  background-color: rgb(253, 253, 253);
  border-radius: 0.5rem;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), 0px 1px 2px rgba(0, 0, 0, .2);
}

.swiper {
  padding: 10px;
}

.cbh-phone {
  display: block;
  position: fixed;
  right: -55px;
  bottom: -55px;
  visibility: hidden;
  background-color: transparent;
  width: 200px;
  height: 200px;
  cursor: pointer;
  z-index: 10;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility 0.5s;
  -moz-transition: visibility 0.5s;
  -o-transition: visibility 0.5s;
  transition: visibility 0.5s;
}

.cbh-phone.cbh-show {
  visibility: visible;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}

.cbh-phone.cbh-static1 {
  opacity: 0.6;
}

.cbh-phone.cbh-hover1 {
  opacity: 1;
}

.cbh-ph-circle {
  width: 110px;
  height: 110px;
  top: 40px;
  left: 40px;
  position: absolute;
  background-color: transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  opacity: 0.1;
  -webkit-animation: cbh-circle-anim 1.2s infinite ease-in-out;
  -moz-animation: cbh-circle-anim 1.2s infinite ease-in-out;
  -ms-animation: cbh-circle-anim 1.2s infinite ease-in-out;
  -o-animation: cbh-circle-anim 1.2s infinite ease-in-out;
  animation: cbh-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cbh-phone.cbh-active .cbh-ph-circle1 {
  -webkit-animation: cbh-circle-anim 1.1s infinite ease-in-out !important;
  -moz-animation: cbh-circle-anim 1.1s infinite ease-in-out !important;
  -ms-animation: cbh-circle-anim 1.1s infinite ease-in-out !important;
  -o-animation: cbh-circle-anim 1.1s infinite ease-in-out !important;
  animation: cbh-circle-anim 1.1s infinite ease-in-out !important;
}

.cbh-phone.cbh-static .cbh-ph-circle {
  -webkit-animation: cbh-circle-anim 2.2s infinite ease-in-out !important;
  -moz-animation: cbh-circle-anim 2.2s infinite ease-in-out !important;
  -ms-animation: cbh-circle-anim 2.2s infinite ease-in-out !important;
  -o-animation: cbh-circle-anim 2.2s infinite ease-in-out !important;
  animation: cbh-circle-anim 2.2s infinite ease-in-out !important;
}

.cbh-phone.cbh-hover .cbh-ph-circle {
  border-color: rgba(0, 175, 242, 1);
  opacity: 0.5;
}

.cbh-phone.cbh-green.cbh-hover .cbh-ph-circle {
  border-color: rgba(117, 235, 80, 1);
  opacity: 0.5;
}

.cbh-phone.cbh-green .cbh-ph-circle {
  border-color: rgba(0, 175, 242, 1);
  opacity: 0.5;
}

.cbh-phone.cbh-gray.cbh-hover .cbh-ph-circle {
  border-color: rgba(204, 204, 204, 1);
  opacity: 0.5;
}

.cbh-phone.cbh-gray .cbh-ph-circle {
  border-color: rgba(117, 235, 80, 1);
  opacity: 0.5;
}

.cbh-ph-circle-fill {
  width: 74px;
  height: 74px;
  top: 58px;
  left: 58px;
  position: absolute;
  background-color: #000;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: 0.1;
  -webkit-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
  -moz-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
  -ms-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
  -o-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
  animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cbh-phone.cbh-active .cbh-ph-circle-fill {
  -webkit-animation: cbh-circle-fill-anim 1.7s infinite ease-in-out !important;
  -moz-animation: cbh-circle-fill-anim 1.7s infinite ease-in-out !important;
  -ms-animation: cbh-circle-fill-anim 1.7s infinite ease-in-out !important;
  -o-animation: cbh-circle-fill-anim 1.7s infinite ease-in-out !important;
  animation: cbh-circle-fill-anim 1.7s infinite ease-in-out !important;
}

.cbh-phone.cbh-static .cbh-ph-circle-fill {
  -webkit-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out !important;
  -moz-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out !important;
  -ms-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out !important;
  -o-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out !important;
  animation: cbh-circle-fill-anim 2.3s infinite ease-in-out !important;
  opacity: 0 !important;
}

.cbh-phone.cbh-hover .cbh-ph-circle-fill {
  background-color: rgba(0, 175, 242, 0.5);
  opacity: 0.75 !important;
}

.cbh-phone.cbh-green.cbh-hover .cbh-ph-circle-fill {
  background-color: rgba(117, 235, 80, 0.5);
  opacity: 0.75 !important;
}

.cbh-phone.cbh-green .cbh-ph-circle-fill {
  background-color: rgba(0, 175, 242, 0.5);
  opacity: 0.75 !important;
}

.cbh-phone.cbh-gray.cbh-hover .cbh-ph-circle-fill {
  background-color: rgba(204, 204, 204, 0.5);
  opacity: 0.75 !important;
}

.cbh-phone.cbh-gray .cbh-ph-circle-fill {
  background-color: rgba(117, 235, 80, 0.5);
  opacity: 1 !important;
}

.cbh-ph-img-circle1 {
  width: 50px;
  height: 50px;
  top: 70px;
  left: 70px;
  position: absolute;
  background-image: url(https://360imagem.com/google/images/wpp-icon.png);
  background-size: 40px 40px;
  background-color: rgba(30, 30, 30, 0.1);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: 1;
  -webkit-animation: cbh-circle-img-anim 1s infinite ease-in-out;
  -moz-animation: cbh-circle-img-anim 1s infinite ease-in-out;
  -ms-animation: cbh-circle-img-anim 1s infinite ease-in-out;
  -o-animation: cbh-circle-img-anim 1s infinite ease-in-out;
  animation: cbh-circle-img-anim 1s infinite ease-in-out;
}

.cbh-phone.cbh-active .cbh-ph-img-circle1 {
  -webkit-animation: cbh-circle-img-anim 1s infinite ease-in-out !important;
  -moz-animation: cbh-circle-img-anim 1s infinite ease-in-out !important;
  -ms-animation: cbh-circle-img-anim 1s infinite ease-in-out !important;
  -o-animation: cbh-circle-img-anim 1s infinite ease-in-out !important;
  animation: cbh-circle-img-anim 1s infinite ease-in-out !important;
}

.cbh-phone.cbh-static .cbh-ph-img-circle1 {
  -webkit-animation: cbh-circle-img-anim 0s infinite ease-in-out !important;
  -moz-animation: cbh-circle-img-anim 0s infinite ease-in-out !important;
  -ms-animation: cbh-circle-img-anim 0s infinite ease-in-out !important;
  -o-animation: cbh-circle-img-anim 0s infinite ease-in-out !important;
  animation: cbh-circle-img-anim 0s infinite ease-in-out !important;
}

.cbh-phone.cbh-hover .cbh-ph-img-circle1 {
  background-color: rgba(0, 175, 242, 1);
}

.cbh-phone.cbh-green.cbh-hover .cbh-ph-img-circle1:hover {
  background-color: rgba(117, 235, 80, 1);
}

.cbh-phone.cbh-green .cbh-ph-img-circle1 {
  background-color: rgba(0, 175, 242, 1);
}

.cbh-phone.cbh-green .cbh-ph-img-circle1 {
  background-color: rgba(0, 175, 242, 1);
}

.cbh-phone.cbh-gray.cbh-hover .cbh-ph-img-circle1 {
  background-color: rgba(204, 204, 204, 1);
}

.cbh-phone.cbh-green .cbh-ph-img-circle1 {
  background-color: rgb(46, 203, 113);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: white;
}

@-moz-keyframes cbh-circle-anim {
  0% {
    -moz-transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: 0.1;
    -moz-opacity: 0.1;
    -webkit-opacity: 0.1;
    -o-opacity: 0.1;
  }

  30% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
    -o-opacity: 0.5;
  }

  100% {
    -moz-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: 0.6;
    -moz-opacity: 0.6;
    -webkit-opacity: 0.6;
    -o-opacity: 0.1;
  }
}

@-webkit-keyframes cbh-circle-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
    -webkit-opacity: 0.1;
  }

  30% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    -webkit-opacity: 0.5;
  }

  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    -webkit-opacity: 0.1;
  }
}

@-o-keyframes cbh-circle-anim {
  0% {
    -o-transform: rotate(0deg) kscale(0.5) skew(1deg);
    -o-opacity: 0.1;
  }

  30% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    -o-opacity: 0.5;
  }

  100% {
    -o-transform: rotate(0deg) scale(1) skew(1deg);
    -o-opacity: 0.1;
  }
}

@keyframes cbh-circle-anim {
  0% {
    transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: 0.1;
  }

  30% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.5;
  }

  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: 0.1;
  }
}

@-moz-keyframes cbh-circle-fill-anim {
  0% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.2;
  }

  50% {
    -moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);
    opacity: 0.2;
  }

  100% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}

@-webkit-keyframes cbh-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.2;
  }

  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: 0.2;
  }

  100% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}

@-o-keyframes cbh-circle-fill-anim {
  0% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.2;
  }

  50% {
    -o-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: 0.2;
  }

  100% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}

@keyframes cbh-circle-fill-anim {
  0% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.2;
  }

  50% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: 0.2;
  }

  100% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}

@keyframes cbh-circle-img-anim {
  0% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }

  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }

  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }

  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }

  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }

  100%,
  50% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@-moz-keyframes cbh-circle-img-anim {
  0% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }

  10% {
    -moz-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  20% {
    -moz-transform: rotate(25deg) scale(1) skew(1deg);
  }

  30% {
    -moz-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  40% {
    -moz-transform: rotate(25deg) scale(1) skew(1deg);
  }

  100%,
  50% {
    -moz-transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@-webkit-keyframes cbh-circle-img-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
  }

  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }

  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }

  100%,
  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@-o-keyframes cbh-circle-img-anim {
  0% {
    -o-transform: rotate(0deg) scale(1) skew(1deg);
  }

  10% {
    -o-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  20% {
    -o-transform: rotate(25deg) scale(1) skew(1deg);
  }

  30% {
    -o-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  40% {
    -o-transform: rotate(25deg) scale(1) skew(1deg);
  }

  100%,
  50% {
    -o-transform: rotate(0deg) scale(1) skew(1deg);
  }
}

.cbh-ph-img-circle1 {}

.cbh-phone.cbh-green .cbh-ph-circle {
  border-color: rgb(0, 242, 164);
}

.cbh-phone.cbh-green .cbh-ph-circle-fill {
  background-color: rgb(0, 242, 164);
}

.cbh-phone.cbh-green .cbh-ph-img-circle1 {
  background-color: rgb(46, 203, 113);
}

.kmacb__manager-border {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 50%;
  left: 50%;
  margin-top: -39.5px;
  margin-left: -39.5px;
  border-radius: 100%;
  border: 2px solid #ffe787;
  -webkit-animation: kmacb__manager-border-anim 1.5s ease-in-out 0.5s infinite;
  -moz-animation: kmacb__manager-border-anim 1.5s ease-in-out 0.5s infinite;
  -ms-animation: kmacb__manager-border-anim 1.5s ease-in-out 0.5s infinite;
  -o-animation: kmacb__manager-border-anim 1.5s ease-in-out 0.5s infinite;
  animation: kmacb__manager-border-anim 1.5s ease-in-out 0.5s infinite;
  opacity: 0.8;
  transform-origin: center;
}

.kmacb__manager-fill {
  background: #52aff7 center bottom no-repeat;
  position: absolute;
  width: 75px;
  height: 75px;
  top: 50%;
  left: 50%;
  margin-top: -37.5px;
  margin-left: -37.5px;
  border-radius: 100%;
  opacity: 0.5;
  -webkit-animation: kmacb__manager-fill-anim 1.5s ease-in-out infinite;
  -moz-animation: kmacb__manager-fill-anim 1.5s ease-in-out infinite;
  -ms-animation: kmacb__manager-fill-anim 1.5s ease-in-out infinite;
  -o-animation: kmacb__manager-fill-anim 1.5s ease-in-out infinite;
  animation: kmacb__manager-fill-anim 1.5s ease-in-out infinite;
  transform-origin: center;
}

.kmacb__manager-circle {
  background: #52aff7;
  position: absolute;
  width: 120px;
  height: 120px;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
  border-radius: 100%;
}


body[dir=rtl] .section-products .filtered-cards .field {
  left: 283px;
  right: auto !important;
}

@media (max-width: 2560px) {
  body[dir=rtl] .section-products .filtered-cards .field {
    left: 26%;
  }
}

@media (max-width: 1920px) {
  body[dir=rtl] .section-products .filtered-cards .field {
    left: 18%;
  }
}

@media (max-width: 1440px) {
  body[dir=rtl] .section-products .filtered-cards .field {
    left: 7%;
  }
}

@media (max-width: 1280px) {
  body[dir=rtl] .section-products .filtered-cards .field {
    left: 9%;
  }
}

@media (max-width: 1024px) {
  body[dir=rtl] .section-products .filtered-cards .field {
    left: 7%;
    top: 115px;
  }
}

@media (max-width: 768px) {
  body[dir=rtl] .section-products .filtered-cards .field {
    left: auto;
    right: 7% !important;
  }

  body[dir=rtl] .btn-model {
    left: 0px !important;
    right: 36%;
    top: -6px;
  }
}

@media (max-width: 576px) {
    body[dir=rtl] .btn-model {
    right: 40%;
    top: -2px;
}  
}

@media (max-width: 425px) {
  body[dir=rtl] .section-products .filtered-cards .field {
    top: 55px;
  }
    body[dir=rtl] .btn-model {
    right: 49%;
    top: -6px;
}

}
@media (max-width: 375px) {
  body[dir=rtl] .btn-model {
    right: 46%;
  }
}
@media (max-width: 320px) {
  body[dir=rtl] .btn-model {
    right: 73%;
  }
}

body[dir="rtl"] .card-summary .card-body .voucher .voucher-input-control .field {
  margin-left: 10px;
  margin-right: 0px;
}

@media (max-width: 576px) {
    .cart .cart-card .card-foot .quantity-counter .counter {
        flex-direction: column;
        padding-left: 0px;
        padding-right: 20px;
    }
}