{% extends "templates/primary.html" %}
{% block content %}
<h1 id="page-header"></h1>
<div class="content-area" :class="{'shifted-content': isStatic}">
  <main class="container boxed blogs">
    <h1 class="heading" id="blogs_heading">Blogs</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/index" class="breadcrumb-link" id="breadcrumb_home">Home</a></li>
      <li class="breadcrumb-item active" id="breadcrumb_blogs">Blogs</li>
    </ol>
    <section class="row">
      {% for blog in blogs %}
      <div class="col blog-section">
        <article class="card card-blog" data-aos-duration="1000" data-aos="fade-up" data-aos-once="true"
          data-aos-easing="ease-in-out">
          <a class="card-image image-zoom" href="/blog-detail?id={{blog.name}}">
            <img src="{{ blog.meta_image }}" class="image" loading="lazy" alt="" />
          </a>
          <div class="card-body">
            <span class="card-badge" data-field="en">{{ blog.title }}</span>
            <span class="card-badge" data-field="ar">{{ blog.custom_title_in_arabic }}</span>
            <h3 class="card-title">
              <a href="/blog-detail?id={{blog.name}}" class="text-ellipsis text-ellipsis-2"
                data-field="en">{{blog.blog_intro}}</a>
              <a href="/blog-detail?id={{blog.name}}" class="text-ellipsis text-ellipsis-2"
                data-field="ar">{{blog.custom_blog_intro_in_arabic}}</a>
            </h3>
            <p class="card-subtitle">{{ blog.published_on }}</p>
          </div>
        </article>
      </div>
      {% endfor %}
    </section>
    <section class="pagination load-more">
      <button class="btn btn-secondary btn-pill" id="load_more_button">Load More</button>
    </section>
  </main>
</div>

{% endblock %}

{% block scripts %}
<script>
  function updatePageContent(translations) {
    //blogs
    document.getElementById("blogs_heading").textContent = translations.blogs_heading;
    document.getElementById("breadcrumb_home").textContent = translations.breadcrumb_home;
    document.getElementById("breadcrumb_blogs").textContent = translations.breadcrumb_blogs;
    document.getElementById("load_more_button").textContent = translations.load_more_button;
  }

  window.onload = function () {
    // Set the title and header for the Contact page
    const pageTitles = {
      ar: 'المدونات - قطة',
      en: 'Blogs - Qetah'

    };

    const pageHeaders = {
      ar: 'المدونات - قطة',
      en: 'Blogs - Qetah'

    };

    setPageTitle(pageTitles, pageHeaders);
  };
</script>

<script>
  // arabic id
  document.addEventListener('DOMContentLoaded', () => {

    setTimeout(function () {
      // Select all `li` elements with the classes `nav-drop-wrap` and `res-link`
      const listItems = document.querySelectorAll('li.nav-drop-wrap.res-link');

      listItems.forEach(function (li) {
        // Check if any child element of this `li` contains the class `bx-cart`
        if (li.querySelector('.bx-cart')) {
          // Hide the parent `li` by setting the display style to 'none'
          li.style.display = 'none';
        }
      });
    }, 100);
  });
</script>

{% endblock %}