{% extends "templates/primary.html" %}

{% block title %} QETAH | Cart Items {% endblock %}

{% block content %}

<!-- Student Header -->
<div class="content-area" :class="{'shifted-content': isStatic}">
  <div class="container cart">
    <div class="row row-col-2">
      <div class="col">
        <div class="cart-product">
          <div class="card card-webinar">
            <div class="card-head select-items">
              <span>
                <label class="check check-secondary"><input type="checkbox" /> Select All (7 item(s))</label>
              </span>
              <button class="btn btn-light btn-icon">
                <i class="bx bx-trash icon-pre"></i> Delete
              </button>
            </div>
          </div>

          {% for cart in carts %}
          <div class="card card-webinar cart-product-card">
            <div class="card-head">
              <span>
                <label class="check check-secondary">
                  <input type="checkbox" id="title" />{{ cart.title }}
                </label>
              </span>
            </div>
            <hr />
            <div class="cart-card">
              <div class="card-head">
                <div class="checkbox">
                  <label class="check check-secondary">
                    <input type="checkbox" />
                  </label>
                </div>
                <div class="cart-content">
                  <img src="{{ cart.image }}" alt="Product Image" id="image" class="image" />
                  <div class="card-desc">
                    <!-- <p class="text-ellipsis text-ellipsis-2">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. In modi earum natus a corrupti iste iure
                      libero veritatis nobis aut dignissimos dolore, alias porro, sed consequatur quo omnis at illo?
                    </p> -->
                    <h3 class="text-ellipsis text-ellipsis-2">
                      {{cart.description}}
                    </h3>
                    <span>{{ cart.brand }}</span>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="prices">
                  <p class="price">$ {{ cart.price }}</p>
                  <p class="discount"><s>${{ cart.discount }}</s></p>
                  <div class="icon-group">
                    <span class="wishlist"><i class="bx bx-heart"></i></span>
                    <span class="wishlist"><i class="bx bx-trash"></i></span>
                  </div>
                </div>
              </div>
              <div class="card-foot">
                <div class="quantity-counter">
                  <div class="counter">
                    <button
                      class="btn btn-light btn-icon btn-circle btn-circle-sm bx bx-minus counter-decrement decrement"></button>
                    <input class="counter-value value" type="number" value="0" />
                    <button
                      class="btn btn-light btn-icon btn-circle btn-circle-sm bx bx-plus counter-increment increment"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}


        </div>

      </div>
      <div class="col">
        <div class="card card-summary">
          <div class="card-head">
            <div class="location">
              <span>Location</span>
            </div>
            <div class="container model-container" x-data="{ isOpen: false }"
              x-init="$watch('isOpen', value => { document.body.style.overflow = value ? 'hidden' : 'auto';})">
              <button class="btn btn-secondary btn-icon model-btn" x-on:click="isOpen = true"><i
                  class="bx bx-location-plus icon-pre"></i> Add Shipping Address </button>
              <div class="modal active" x-show="isOpen" x-transition style="display: none;">
                <div class="modal-dialog" @click.away="isOpen = false">
                  <div class="modal-content ">
                    <div class="modal-head">
                      <h3 class="modal-title">Add Shipping Details</h3>
                    </div>
                    <div class="modal-body">
                      <div class="form-field">
                        <label class="field-label">First Name</label>
                        <div class="field">
                          <input type="text" class="field-text" placeholder="Enter first name" id="firstname" />
                        </div>
                      </div>
                      <div class="form-field">
                        <label class="field-label">Last Name</label>
                        <div class="field">
                          <input type="text" class="field-text" placeholder="Enter last name" id="lastname" />
                        </div>
                      </div>
                      <div class="form-field">
                        <label class="field-label">Phone No</label>
                        <div class="field">
                          <input type="text" class="field-text" placeholder="Enter your phone number" id="phone" />
                        </div>
                      </div>
                      <div class="form-field">
                        <label class="field-label">Address</label>
                        <div class="field">
                          <input type="text" class="field-text" placeholder="Enter your Address" id="address" />
                        </div>
                      </div>
                      <div class="form-field">
                        <label class="field-label">Email</label>
                        <div class="field">
                          <input type="email" class="field-text" placeholder="Enter your email" id="email" />
                        </div>
                      </div>

                      <div class="form-field">
                        <label class="field-label">State</label>
                        <div class="field">
                          <input type="text" class="field-text" placeholder="Enter your state" id="state" />
                        </div>
                      </div>
                      <div class="form-field">
                        <label class="field-label">City</label>
                        <div class="field">
                          <input type="text" class="field-text" placeholder="Enter your City" id="city" />
                        </div>
                      </div>
                      <div class="form-field">
                        <label class="field-label">Zip / Postal code</label>
                        <div class="field">
                          <input type="text" class="field-text" placeholder="Enter your Code" id="postalcode" />
                        </div>
                      </div>
                    </div>
                    <div class="modal-foot">
                      <button class="btn" x-on:click="isOpen = false">Cancel</button>
                      <button class="btn btn-secondary" id="saveButton">Save</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <script>
              function displayData() {
                const data = JSON.parse(localStorage.getItem('shippingDetails'));

                // Log the retrieved data to the console
                console.log('Retrieved data from localStorage:', data);

                if (data) {
                  const displayDiv = document.getElementById('displayData');
                  displayDiv.innerHTML = `
                <!-- Target div where the data will be displayed -->
                <div id="displayData"></div>
                <p class="badge badge-sm badge-secondary badge-pill badge-sm">Home</p>
                <p class="media-title">${data.firstname} ${data.lastname}</p>
                <p class="media-subtitle txt-sm fw-500">${data.phone}</p>

                <h6 class="text-ellipsis text-ellipsis-2 txt-sm">
                ${data.address}
                </h6>`;
                } else {
                  console.log('No data found in localStorage');
                }
              }

              // Call displayData function on page load
              document.addEventListener('DOMContentLoaded', function () {
                displayData();
              });
            </script>

            <div class="media">
              <div class="media-head">
                <i class="bx bxs-user"></i>
              </div>
              <div class="media-body">
                <!-- Target div where the data will be displayed -->
                <div id="displayData"></div>
                <!-- <p class="badge badge-sm badge-secondary badge-pill badge-sm">Home</p>
                <p class="media-title">Ammar Shahid</p>
                <p class="media-subtitle txt-sm fw-500">04165651763</p>
                <h6 class="text-ellipsis text-ellipsis-2 txt-sm">
                  <strong>Two Line Truncation</strong>text trancate loremThis component truncates text with an ellipsis
                  (...)
                  when it exceeds the width of its container, useful for displaying long text in a limited space.Lorem
                  ipsum dolor
                  sit amet, consectetur adipiscing elit. Quisque ut risus sit amet nisl suscipit condimentum.Lorem ipsum
                  dolor sit amet, consectetur adipiscing elit. Quisque ut risus sit amet nisl suscipit condimentum.
                </h6> -->
              </div>
              <div class="media-foot">
                <label class="check check-dark"> <input type="checkbox" required /></label>
              </div>
            </div>
          </div>
          <hr>
          <div class="card-body">
            <div class="card-summary">
              <h2>Order Summary</h2>
              <div class="summary-content">
                <p class="summary-name">Subtotal (4 items)</p>
                <span class="summary-value">Rs. 3,139</span>
              </div>
              <div class="summary-content">
                <p class="summary-name">Subtotal (4 items)</p>
                <span class="summary-value">Rs. 3,139</span>
              </div>
              <div class="voucher">
                <div class="voucher-input-control">
                  <span class="field">
                    <input type="text" class="field-text" placeholder="Enter Voucher Code" />
                  </span>
                  <button type="button" class="btn btn-secondary">
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-foot">
            <div class="summary-content">
              <p class="summary-name">Subtotal (4 items)</p>
              <span class="summary-value text-danger">Rs. 3,139</span>
            </div>
            <a href="/checkout" style="text-decoration: none;">
              <button class="btn btn-secondary btn-sm btn-block">
                Proceed To Checkout(5)
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container products">
    <h1>Just For You</h1>
    <!-- Slider main container -->
    <div class="swiper product-slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        {% for product in products %}

        {% for variation in product.variations %}
        <div class="swiper-slide">
          <div class="products">
            <div class="badge badge-primary badge-pill">{{ variation.title }}</div>
            <div class="card product-card">
              <a href="/product">
                <div class="card-head">
                  <img class="card-image"
                    src="https://d2v5dzhdg4zhx3.cloudfront.net/web-assets/images/storypages/primary/ProductShowcasesampleimages/JPEG/Product+Showcase-1.jpg">
                </div>
                <div class="card-body">
                  <div class="card-title">{{ variation.intro }}</div>
                  <div class="card-desc text-ellipsis text-ellipsis-2">
                    {{ variation.description }}
                  </div>
                  <div class="card-subtitle"><del>USD {{ variation.price }}</del></div>
                  <div class="card-title">USD {{ variation.discount }}</div>
                  <div class="card-rating">
                    <i class="bx bxs-star"></i>
                    <span>{{ product.rating_count }}</span> ({{ product.sold }} Sold)
                  </div>
                </div>
              </a>
              <div class="card-foot">
                <button class="btn btn-light btn-icon btn-pill"><i class="bx bx-cart icon-pre"></i> Buy Now</button>
                <button class="btn btn-light btn-icon btn-circle bx bx-heart"></button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endfor %}
      </div>
      <button class="slide-next btn btn-secondary btn-sm bx bx-right-arrow-alt"></button>
      <button class="slide-prev btn btn-secondary btn-sm bx bx-left-arrow-alt"></button>
    </div>
  </div>

  <script>
    document.getElementById('saveButton').addEventListener('click', function () {
      const firstname = document.getElementById('firstname').value;
      const lastname = document.getElementById('lastname').value;
      const phone = document.getElementById('phone').value;
      const address = document.getElementById('address').value;
      const email = document.getElementById('email').value;
      const state = document.getElementById('state').value;
      const city = document.getElementById('city').value;
      const postalcode = document.getElementById('postalcode').value;
      const shippingDetails = {
        firstname,
        lastname,
        phone,
        address,
        email,
        state,
        city,
        postalcode
      };

      localStorage.setItem('shippingDetails', JSON.stringify(shippingDetails));

      // Log the data to the console
      console.log('Data saved to localStorage:', shippingDetails);

      // Display the data in another div
      displayData();
    });

    // function displayData() {
    //     const data = JSON.parse(localStorage.getItem('shippingDetails'));

    //     // Log the retrieved data to the console
    //     console.log('Retrieved data from localStorage:', data);

    //     if (data) {
    //         const displayDiv = document.getElementById('displayData');
    //         displayDiv.innerHTML = `
    //             <h3>Shipping Details:</h3>
    //             <p><strong>First Name:</strong> ${data.firstname}</p>
    //             <p><strong>Last Name:</strong> ${data.lastname}</p>
    //             <p><strong>Phone:</strong> ${data.phone}</p>
    //             <p><strong>Address:</strong> ${data.address}</p>
    //             <p><strong>Email:</strong> ${data.email}</p>
    //             <p><strong>state:</strong> ${data.state}</p>
    //             <p><strong>City:</strong> ${data.city}</p>
    //             <p><strong>Postal Code:</strong> ${data.postalcode}</p>
    //         `;
    //     } else {
    //         console.log('No data found in localStorage');
    //     }
    // }



    // Display the data on page load if available
    document.addEventListener('DOMContentLoaded', function () {
      displayData();
    });
  </script>

  {% endblock %}

  <!-- header-fixed