{% extends "templates/primary.html" %}

{% block title %} QETAH | Home {% endblock %}

{% block content %}

<div class="content-area" :class="{'shifted-content': isStatic}">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <section class="s1">
          <h1 class="title fw-bold below-text"><em>Discover Our New Arrivals!</em></h1>
          <h2 class="sub-title">
            Fresh Finds Just<br />
            <h2 style="color: grey">for You</h2>
          </h2>
          <p class="txt-lg">
            Stay ahead of the trends with our latest collection. We've
            handpicked the newest styles and must-have products just for
            you. Whether you're updating your wardrobe or looking for the
            perfect gift, our new arrivals offer something for everyone.
            Don't miss out on these fresh additions—shop now and be the
            first to own them!
          </p>
          <div x-data="{ createRipple: createRipple }">
            <button x-on:click="createRipple($event)" class="btn btn-secondary ripple btn-icon">
              See More <i class="bx bx-right-arrow-alt icon-post"></i>
            </button>
          </div>
        </section>
        <div class="image">
          <h1 class="title fw-bold upper-text"><em>Discover Our New Arrivals!</em></h1>
          <img src="/assets/qetah_phase_1/images/home3.png" width="100px" height="100px" alt="" srcset="" />
        </div>
      </div>
      <div class="swiper-slide">
        <section class="s1">
          <h1 class="title fw-bold below-text"><em>Exclusive Discount Offer</em></h1>
          <h2 class="sub-title">
            Save Big on Your<br />
            <h2 style="color: grey">Favorite Products.</h2>
          </h2>
          <p class="txt-lg">
            Take advantage of our limited-time discounts and enjoy up to 50%
            off on selected items. Whether you're shopping for fashion,
            electronics, or home essentials, there's something for everyone.
            Hurry, these deals won't last long!
          </p>
          <div x-data="{ createRipple: createRipple }">
            <button x-on:click="createRipple($event)" class="btn btn-secondary ripple btn-icon">
              See More <i class="bx bx-right-arrow-alt icon-post"></i>
            </button>
          </div>
        </section>
        <div class="image">
          <h1 class="title fw-bold upper-text"><em>Exclusive Discount Offer</em></h1>
          <img src="/assets/qetah_phase_1/images/home slider 2.jpg" alt="" />
        </div>
      </div>
      <div class="swiper-slide">
        <section class="s1">
          <h1 class="title fw-bold below-text"><em>Our Best Products</em></h1>
          <h2 class="sub-title">
            Top Picks Just<br />
            <h2 style="color: grey">for You</h2>
          </h2>
          <p class="txt-lg">
            Discover our most popular products, handpicked by our customers.
            From cutting-edge gadgets to stylish apparel, these top-rated
            items are loved for their quality, innovation, and value. Don't
            miss out on the best of the best!
          </p>
          <div x-data="{ createRipple: createRipple }">
            <button x-on:click="createRipple($event)" class="btn btn-secondary ripple btn-icon">
              See More <i class="bx bx-right-arrow-alt icon-post"></i>
            </button>
          </div>
        </section>
        <div class="image">
          <h1 class="title fw-bold upper-text"><em>Our Best Products</em></h1>
          <img src="/assets/qetah_phase_1/images/home 1.jpg" alt="" />
        </div>
      </div>
      <div class="swiper-slide">
        <section class="s1">
          <h1 class="title fw-bold below-text"><em>Happy Shopping, Happy You!</em></h1>
          <h2 class="sub-title">
            Keep Smiling<br />
            <h2 style="color: grey">Stay happy</h2>
          </h2>
          <p class="txt-lg">
            Your happiness is our priority. We strive to bring you an
            exceptional shopping experience with every purchase. From
            seamless transactions to top-quality products, our customers
            leave with smiles and satisfaction. Shop with confidence,
            knowing that your joy is our success!
          </p>
          <div x-data="{ createRipple: createRipple }">
            <button x-on:click="createRipple($event)" class="btn btn-secondary ripple btn-icon">
              See More <i class="bx bx-right-arrow-alt icon-post"></i>
            </button>
          </div>
        </section>
        <div class="image">
          <h1 class="title fw-bold upper-text"><em>Happy Shopping, Happy You!</em></h1>
          <img src="/assets/qetah_phase_1/images/home4.png" width="100px" height="100px" alt="" srcset="" />
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="container sale">
    <div class="sale-product" style="background-image: url('/assets/qetah_phase_1/images/bg-swirl-1.webp')">
      <div class="sale-content">
        <span class="year">2020</span>
        <h2 class="sale-heading">Spring Sale</h2>
      </div>
      <div class="sale-disc">
        <p class="head">Don't miss the sale!</p>
        <h2 class="disc">Get Up To 30% OFF</h2>
        <a href="/product" class="notify">Get Notified <i class="bx bx-right-arrow-alt"></i></a>
      </div>
    </div>
  </div>
  <div class="container About">
    <div class="badge badge-o-dark badge-pill fw-bold">About Us</div>
    <div class="container d-flex">
      <div class="about-desc">
        <h3 class="heading">Why Choose Us ?</h3>
        <p class="desc">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia,
          rerum laborum nemo perferendis eum maiores similique porro
          delectus alias, voluptatibus assumenda in a? Non laborum accusamus
          officiis iusto reiciendis voluptatum.
        </p>
        <br />
        <p class="desc">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia,
          rerum laborum nemo perferendis eum maiores similique porro
          delectus alias, voluptatibus assumenda in a? Non laborum accusamus
          officiis iusto reiciendis voluptatum.
        </p>
        <div x-data="{ createRipple: createRipple }">
          <button x-on:click="createRipple($event)" class="btn btn-secondary ripple btn-icon">
            <a href="./story.html">More About Us</a>
            <i class="bx bx-right-arrow-alt icon-post"></i>
          </button>
        </div>
      </div>
      <div class="images">
        <img
          src="https://media.istockphoto.com/id/1494812295/photo/teamwork-manager-portrait-and-diversity-of-office-team-happy-about-hr-collaboration-we-are.webp?b=1&s=170667a&w=0&k=20&c=6cnpg7ioJ30NQhl4Aq2uloQyHZqQsitSM08x1DsMdFM="
          width="450px" height="400px" alt="" />
      </div>
    </div>
  </div>
  <div class="container products">
    <div class="badge badge-o-dark badge-pill heading">Products
    </div>
    <h1 class="text-center">Top Selling Product</h1>
    <!-- Slider main container -->
    <div class="swiper product-slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        {% for product in products %}
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="products">
            <div class="badge badge-primary badge-pill">{{ product.title }}</div>
            <div class="card product-card">
              <a href="/product-detail?id={{ product.name }}">
                <div class="card-head">
                  <img class="card-image " src="{{ product.featured_image }}" alt="Product Image">
                </div>
              </a>
              <div class="card-body">
                {% if product.variations %}
                {% for variation in product.variations %}
                <div class="variation">
                  <div class="card-title">{{ variation.title }}</div>
                  <div class="card-desc text-ellipsis text-ellipsis-2 ">{{ variation.description }}</div>
                  <div class="card-subtitle"><del>USD {{ variation.discount }}</del></div>
                  <div class="card-title p-price">USD {{ variation.price }}</div>
                </div>
                {% endfor %}
                {% else %}
                <p>No variations available</p>
                {% endif %}
                <div class="card-rating">
                  <i class="bx bxs-star"></i>
                  <span>{{ product.rating_count }}</span> ({{ product.sold }}) Sold
                </div>
              </div>
              <div class="card-foot">
                <button class="btn btn-light btn-icon btn-pill btn-cart"
                onclick="cart()"><i class="bx bx-cart icon-pre"></i> Buy Now</button>
                <button class="btn btn-light btn-icon btn-circle bx bx-heart btn-heart"></button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <button class="btn btn-dark btn-pill explore">
        <a href="/product">Explore More</a>
      </button>
      <button class="slide-next btn btn-secondary btn-sm bx bx-right-arrow-alt"></button>
      <button class="slide-prev btn btn-secondary btn-sm bx bx-left-arrow-alt"></button>
    </div>
  </div>
</div>
<div class="container Story">
  <div class="badge badge-o-dark badge-pill fw-bold">Our Story</div>
  <div class="container d-flex">
    <div class="images">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMVSO5_Qnbe7v-DlXEcagBf8IxIBeieQ3eyA&s"
        width="450px" height="400px" alt="" />
    </div>
    <div class="story-desc">
      <h3 class="heading">Our Story</h3>
      <p class="desc">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia,
        rerum laborum nemo perferendis eum maiores similique porro
        delectus alias, voluptatibus assumenda in a? Non laborum accusamus
        officiis iusto reiciendis voluptatum.
      </p>
      <br />
      <p class="desc">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia,
        rerum laborum nemo perferendis eum maiores similique porro
        delectus alias, voluptatibus assumenda in a? Non laborum accusamus
        officiis iusto reiciendis voluptatum.
      </p>
      <div x-data="{ createRipple: createRipple }">
        <button x-on:click="createRipple($event)" class="btn btn-secondary ripple btn-icon">
          <a href="./story.html">Read More</a>
          <i class="bx bx-right-arrow-alt icon-post"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container Appointment" style="background-image: url('/assets/qetah_phase_1/images/bg-swirl-1.webp')">
  <div class="text">
    <h1>Book An Appointment</h1>
    <p>Just book your appointment now and get your dress done</p>
  </div>
  <div class="button">
    <button class="btn btn-pill">
      <a href="./contact-us.html">Click Here!</a>
    </button>
  </div>
</div>
<div class="container Blogs">
  <div class="badge badge-o-dark badge-pill">Blogs</div>
  <div class="text">
    <h2>Related Blogs</h2>
    <a href="./Blogs.html">See more <i class="bx bx-right-arrow-alt"></i></a>
  </div>
  <p class="sub-title">Get started by reading our blogs</p>
  <div class="swiper blog-slider">
    <section class="swiper-wrapper blog-wrap">
      {% for blog in blogs %}
      <div class="swiper-slide blog-section">

        <article class="card card-blog" data-aos-duration="1000" data-aos="fade-up" data-aos-once="true"
          data-aos-easing="ease-in-out">
          <a class="card-image image-zoom" href="/blog-detail?id={{blog.name}}">
            <img src="{{ blog.meta_image }}" class="image" loading="lazy" alt="" />
          </a>
          <div class="card-body">
            <span class="card-badge">{{ blog.title }}</span>
            <h3 class="card-title">
              <a href="/blog-detail?id={{blog.name}}" class="text-ellipsis text-ellipsis-2">{{blog.blog_intro}}</a>
            </h3>
            <p class="card-subtitle">{{ blog.published_on }}</p>
          </div>
        </article>
      </div>
      {% endfor %}
    </section>
    <button class="slide-next btn btn-secondary btn-sm bx bx-right-arrow-alt"></button>
    <button class="slide-prev btn btn-secondary btn-sm bx bx-left-arrow-alt"></button>
  </div>
</div>
<div class="container customer-reviews">
  <div class="badge badge-o-dark badge-pill">Reviews</div>
  <h1 class="text-center customer-say">What Our Customers Say</h1>
  <div class="border text-center"></div>
  <div class="slide-container text-center">
    <div class="swiper-wrapper">
      {% for testimonil in testimonials %}
      <div class="swiper-slide review-content">
        <p>{{testimonil.feedback}}</p>
        <h2 class="fw-bold reviewer-name">{{testimonil.full_name}}</h2>
        <i class="company-name">{{testimonil.designation}}</i>
      </div>
      {% endfor %}
    </div>
    <!-- Navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
{% endblock %}
