{% extends "templates/primary.html" %}

{% block title %} Privacy {% endblock %}

{% block content %}

<div class="content-area" :class="{'shifted-content': isStatic}">
    <!-- CONTENT -->
    <main class="container terms-condition content">
        <h1 class="heading" id="privacy_policy_title">Privacy Policy</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/index" class="breadcrumb-link" id="home_link">Home</a>
            </li>
            <li class="breadcrumb-item active" id="privacy_policy_breadcrumb">Privacy Policy</li>
        </ol>
        <h2 class="heading dotted-square" id="our_privacy_policy">Our Privacy Policy</h2>

        <!-- This section will dynamically display based on the language -->
        <div data-field="en"> {{privacy.privacy_policy}} </div>
        <div data-field="ar"> {{privacy.privacy_policy_arabic}}</div>

    </main>
    <!-- CONTENT -->

    {% endblock %}
    {% block scripts %}
    <script>
        let lastScrollTop = 0;
        const header = document.getElementById("header");

        window.addEventListener("scroll", function () {
            const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

            if (scrollTop < lastScrollTop) {
                // Scroll up - show header
                header.style.transform = "translateY(0)";
            } else {
                // Scroll down - hide header
                header.style.transform = "translateY(-100%)";
            }

            lastScrollTop = scrollTop <= 0 ? 0 : scrollTop; // For Mobile or negative scrolling
        });

        // arabic id
        function updatePageContent(translations) {
            //Privacy plolicy 
            document.getElementById('privacy_policy_title').textContent = translations['privacy_policy_title'];
            document.getElementById('home_link').textContent = translations['home_link'];
            document.getElementById('privacy_policy_breadcrumb').textContent = translations['privacy_policy_breadcrumb'];
            document.getElementById('our_privacy_policy').textContent = translations['our_privacy_policy'];
        }

        document.addEventListener('DOMContentLoaded', function () {
            setTimeout(function () {
                // Select all `li` elements with the classes `nav-drop-wrap` and `res-link`
                const listItems = document.querySelectorAll('li.nav-drop-wrap.res-link');

                listItems.forEach(function (li) {
                    // Check if any child element of this `li` contains the class `bx-cart`
                    if (li.querySelector('.bx-cart')) {
                        // Hide the parent `li` by setting the display style to 'none'
                        li.style.display = 'none';
                    }
                });
            })
            displayData();
        });
    </script>
    {% endblock %}