{% extends "templates/primary.html" %}

{% block title %} QETAH | Privacy {% endblock %}

{% block content %}

<div class="content-area" :class="{'shifted-content': isStatic}">
    <!-- CONTENT -->
    <main class="container terms-condition content">
        <h1 class="heading">Privacy Policy</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/index" class="breadcrumb-link">Home</a></li>
            <li class="breadcrumb-item active">Privacy Policy</li>
        </ol>
        <h2 class="heading dotted-square">Our Privacy Policy</h2>
        {{privacy.privacy_policy}}

    </main>
    <!-- CONTENT -->


    {% endblock %}

    <!-- header-fixed -->

    {% block scripts %}

    <script>
        let lastScrollTop = 0;
        const header = document.getElementById("header");

        window.addEventListener("scroll", function () {
            const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

            if (scrollTop < lastScrollTop) {
                // Scroll up - show header
                header.style.transform = "translateY(0)";
            } else {
                // Scroll down - hide header
                header.style.transform = "translateY(-100%)";
            }

            lastScrollTop = scrollTop <= 0 ? 0 : scrollTop; // For Mobile or negative scrolling
        });
    </script>
    {% endblock %}