{% extends "templates/primary.html" %}

{% block title %} QETAH | Product Detail {% endblock %}

{% block content %}
<div class="content-area" :class="{'shifted-content': isStatic}">
  <div class="container detailed-product">
    <div class="row row-col-2">
      <div class="row row-col-2">
        {% for product in products %}
        <div class="col product-image-area">
          <div class="images">
            <div class="product-image-group">
              {% for image in product.images %}
              <img src="{{ image.images }}" alt="Product Image" class="img" data-target="img{{ loop.index }}" />
              {% endfor %}

            </div>
            <div class="product-image">
              <img id="img1" src="{{product.featured_image}}" alt="Main Product Image" class="img main-img" />
            </div>
          </div>
        </div>

        <div class="col product-content-area">
          <div class="product-detail-content">
            <div class="product-head">
              {% if product.variations %}
              {% for variation in product.variations %}
              <p>{{ variation.intro }}</p>
              <h1>{{ variation.title }}</h1>
              <div class="product-body">
                <div class="content-body">
                  <h2 class="price-head">$
                    {{ variation.price }} <span class="hori">|</span>
                    <div class="badge badge-danger badge-pill">{{ product.category }}</div>
                  </h2>
                  <div class="content">
                    <p class="text-ellipsis text-ellipsis-3">{{ variation.description }}</p>
                  </div>
                  <div class="sizes">
                    <button class="btn btn-light btn-sm">sm</button>
                    <button class="btn btn-light btn-sm">lg</button>
                    <button class="btn btn-light btn-sm active">md</button>
                    <button class="btn btn-light btn-sm">xl</button>
                    <button class="btn btn-light btn-sm">xxl</button>
                  </div>
                  <div class="icon">
                    <i class="bx bx-cart"></i>
                    <p>{{ product.title }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
              {% else %}
              <p>No variations available</p>
              {% endif %}
            </div>
            <div class="product-foot">
              <div class="btn-group">
                <button class="btn btn-secondary btn-lg btn-icon">
                  <i class="bx bx-cart icon-pre"></i>Add To Cart
                </button>
                <button class="btn btn-light btn-lg btn-icon">
                  <i class="bx bx-heart icon-pre"></i>Save To Wishlist
                </button>
              </div>
              <div class="icon-group">
                <button class="btn btn-light btn-circle btn-sm">
                  <i class="bx bxl-facebook"></i>
                </button>
                <button class="btn btn-light btn-circle btn-sm">
                  <i class="bx bxl-instagram"></i>
                </button>
                <button class="btn btn-light btn-circle btn-sm">
                  <i class="bx bxl-twitter"></i>
                </button>
                <button class="btn btn-light btn-circle btn-sm">
                  <i class="bx bxl-whatsapp"></i>
                </button>
                <button class="btn btn-light btn-circle btn-sm">
                  <i class="bx bxl-gmail"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-details-content">
          {{ product.description }}
        </div>
        {% endfor %}
      </div>




      <div class="container products">
        <h1 class="text-start">Related Product</h1>
        <!-- Slider main container -->
        <div class="swiper product-slider">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            {% for product in products %}

            {% for variation in product.variations %}
            <div class="swiper-slide">
              <div class="products">
                <div class="badge badge-primary badge-pill">{{ variation.title }}</div>
                <div class="card product-card">
                  <a href="/product-detail?id={{product.name}}">
                    <div class="card-head">
                      <img class="card-image"
                        src="https://d2v5dzhdg4zhx3.cloudfront.net/web-assets/images/storypages/primary/ProductShowcasesampleimages/JPEG/Product+Showcase-1.jpg">
                    </div>
                    <div class="card-body">
                      <div class="card-title">{{ variation.intro }}</div>
                      <div class="card-desc text-ellipsis text-ellipsis-2">
                        {{ variation.description }}
                      </div>
                      <div class="card-subtitle"><del>USD {{ variation.price }}</del></div>
                      <div class="card-title">USD {{ variation.discount }}</div>
                      <div class="card-rating">
                        <i class="bx bxs-star"></i>
                        <span>{{ product.rating_count }}</span> ({{ product.sold }} Sold)
                      </div>
                    </div>
                  </a>
                  <div class="card-foot">
                    <button class="btn btn-light btn-icon btn-pill"><i class="bx bx-cart icon-pre"></i> Buy Now</button>
                    <button class="btn btn-light btn-icon btn-circle bx bx-heart"></button>
                  </div>
                </div>


              </div>
            </div>

            {% endfor %}


            {% endfor %}

          </div>
          <button class="slide-next btn btn-secondary btn-sm bx bx-right-arrow-alt"></button>
          <button class="slide-prev btn btn-secondary btn-sm bx bx-left-arrow-alt"></button>
        </div>
      </div>
      <div class="container customer-reviews">
        <div class="badge badge-o-dark badge-pill">Reviews</div>
        <h1 class="text-center" data-aos="fade-up" data-aos-anchor-placement="center-center">What Our Customers Say</h1>
        <div class="border text-center"></div>
        <div class="slide-container text-center">
          <div class="swiper-wrapper">
            {% for testimonil in testimonils %}
            <div class="swiper-slide review-content">
              <p>{{testimonil.feedback}}</p>
              <h2 class="fw-bold reviewer-name">{{testimonil.full_name}}</h2>
              <i class="company-name">{{testimonil.designation}}</i>
            </div>
            {% endfor %}
          </div>
          <!-- Navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>

      {% endblock %}




      {% block scripts %}



      <!-- product -->
      <script>
        const thumbnails = document.querySelectorAll('.product-image-group .img');
        const largeImages = document.querySelectorAll('.product-image .main-img');

        thumbnails.forEach((thumbnail) => {
          thumbnail.addEventListener('click', function () {
            // Hide all large images
            largeImages.forEach((img) => {
              img.style.display = 'none';
            });

            // Show the large image that matches the clicked thumbnail's data-target
            const targetId = this.getAttribute('data-target');
            const targetImage = document.getElementById(targetId);
            if (targetImage) {
              targetImage.style.display = 'block';
            }
          });
        });
      </script>
      <!-- sizes -->
      <script>
        const sizeButtons = document.querySelectorAll('.sizes .btn');

        sizeButtons.forEach((button) => {
          button.addEventListener('click', function () {
            // Remove the 'active' class from all buttons
            sizeButtons.forEach((btn) => btn.classList.remove('active'));

            // Add the 'active' class to the clicked button
            this.classList.add('active');
          });
        });
      </script>
      <!-- header-fixed
 <script>
  let lastScrollTop = 0;
  const header = document.getElementById("header");

  window.addEventListener("scroll", function() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (scrollTop < lastScrollTop) {
          // Scroll up - show header
          header.style.transform = "translateY(0)";
      } else {
          // Scroll down - hide header
          header.style.transform = "translateY(-100%)";
      }

      lastScrollTop = scrollTop <= 0 ? 0 : scrollTop; // For Mobile or negative scrolling
  });
</script> -->
      {% endblock %}