{% extends "templates/primary.html" %}

{% block title %} QETAH | Refunds {% endblock %}

{% block content %}
    <div class="content-area" :class="{'shifted-content': isStatic}">
<!-- CONTENT -->
    <main class="container terms-condition content">
        <h1 class="heading">Refunds & Exchange</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./index.html" class="breadcrumb-link">Home</a></li>
            <li class="breadcrumb-item active">Refunds & Exchange</li>
        </ol>          
      <h2 class="heading dotted-square">Refund Eligibility</h2>
      <p class="description">
          Smart Solution offers refunds on products and services within a specified
          timeframe from the date of purchase. The eligibility period may vary
          based on the type of product or service.
      </p>
      <h2 class="heading dotted-square">Refund Requests</h2>
      <p class="description">
          To initiate a refund request, please contact our customer support
          team at <a href="mailto:support@smart-solution.com" class="link">Qetah.qa@gmail.com</a>
          within the specified
          eligibility period. Provide your order number, a detailed reason for
          the refund request, and any supporting documentation, if necessary.
      </p>
      <h2 class="heading dotted-square">Non-Refundable Items</h2>
      <p class="description">
          Certain products or services may not be eligible for a refund. These
          include, but are not limited to, digital downloads, customized
          products, and services that have already been rendered.
      </p>
      <h2 class="heading dotted-square">Processing Time</h2>
      <p class="description">
          Once your refund request is received, we will review it and notify
          you of the approval or rejection of your refund. The processing time
          may vary, but we strive to complete the review within 15 days business
          days.
      </p>
      <h2 class="heading dotted-square">Refund Method</h2>
      <p class="description">
          Approved refunds will be processed using the original method of
          payment. Please allow 15 business days for the refund to be
          reflected in your account.
      </p>
      <h2 class="heading dotted-square">Cancelled Orders</h2>
      <p class="description">
          If you cancel an order before it is processed, a full refund will be
          issued. However, if the order has already been processed, it will be
          treated as a standard refund request.
      </p>
      <h2 class="heading dotted-square">Contact Information</h2>
      <p class="description">
          For any questions regarding our Refunds Policy, please contact us at
          <a href="mailto:support@smart-solution.com" class="link">support@smart-solution.com</a>.
      </p>
      <h2 class="heading dotted-square">Policy Updates</h2>
      <p class="description">
          Smart Solution reserves the right to update or modify this <a href="/refunds-policy/" class="link">Refunds Policy</a> 
          at any time. Please check our website for the latest version.
      </p>
      <p class="description">
          By making a purchase with Smart Solution, you acknowledge and agree to
          comply with our Refunds Policy. We appreciate your understanding and
          cooperation.
      </p>
      <p class="description">Thank you for choosing Smart Solution!</p>
  </main>
<!-- CONTENT -->
  {% endblock %}
 <!-- header-fixed
 <script>
  let lastScrollTop = 0;
  const header = document.getElementById("header");

  window.addEventListener("scroll", function() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (scrollTop < lastScrollTop) {
          // Scroll up - show header
          header.style.transform = "translateY(0)";
      } else {
          // Scroll down - hide header
          header.style.transform = "translateY(-100%)";
      }

      lastScrollTop = scrollTop <= 0 ? 0 : scrollTop; // For Mobile or negative scrolling
  });
</script> -->
