{% extends "templates/primary.html" %}

{% block title %} QETAH | Refunds {% endblock %}

{% block content %}

<div class="content-area" :class="{'shifted-content': isStatic}">
    <!-- CONTENT -->
    <main class="container terms-condition content">
        <h1 class="heading">Refunds & Exchange</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./index.html" class="breadcrumb-link">Home</a></li>
            <li class="breadcrumb-item active">Refunds & Exchange</li>
        </ol>
        {{privacy.refunds_policy}}

    </main>
    <!-- CONTENT -->
    {% endblock %}