{% extends "templates/primary.html" %}

{% block title %} QETAH | Terms {% endblock %}

{% block content %}

<div class="content-area" :class="{'shifted-content': isStatic}">
    <!-- CONTENT -->
    <main class="container terms-condition content">
        <h1 class="heading">Terms & Conditions</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./index.html" class="breadcrumb-link">Home</a></li>
            <li class="breadcrumb-item active">Terms & Conditions</li>
        </ol>
        {{privacy.terms_of_use}}
    </main>
    <!-- CONTENT -->
    {% endblock %}
