<!DOCTYPE html>
<html lang="en" x-data="sidebarState()">
<head>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" type="x-icon" href="/assets/qetah_phase_1/images/qetah-browser-removebg-preview.png" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap"
    rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %} QETAH | Home</title>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" k />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/qetah_phase_1/css/kit.css" />

  <!-- <link rel="stylesheet" href="/assets/qetah_phase_1/css/style.css" /> -->

  {{ include_style("style.bundle.css") }}


  <script>
    window.frappe = {};
    frappe.ready_events = [];
    frappe.ready = function (fn) {
      frappe.ready_events.push(fn);
    };
    window.dev_server = 0;
    window.socketio_port = 9000;
    window.show_language_picker = false;
  </script>

</head>

<body>


  {% block style %} {% endblock %}
  <!-- HEAD -->
  {% include "templates/includes/header.html" %}
  <!-- HEAD -->
  <!-- sidebar -->
  {% include "templates/includes/sidebar.html" %}
  <!-- sidebar -->

  <!-- CONTENT -->
  {% block content %} {% endblock %}
  <!-- CONTENT -->

  <!-- FOOTER -->
  {% include "templates/includes/footer.html" %}
  <!-- FOOTER -->



  {% block base_scripts %}
  <!-- js should be loaded in body! -->
  <script>
    frappe.boot = {{ boot }}
    // for backward compatibility of some libs
    frappe.sys_defaults = frappe.boot.sysdefaults;
  </script>
  {{ include_script('frappe-web.bundle.js') }}
  {% endblock %}

  {%- for link in web_include_js %}
  {{ include_script(link) }}
  {%- endfor -%}

  {%- block script %}
  {% if colocated_js -%}
  <script>{ { colocated_js } }</script>
  {%- endif %}
  {%- endblock %}
  <!-- csrf_token -->
  {%- block body_include %}{{ body_include or "" }}{% endblock -%}


  <!-- SCRIPTS -->
  <script src="/assets/qetah_phase_1/js/sidebar.js"></script>
  <!-- Initialize Swiper -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <!-- THIRD PARTY JS -->
  <script src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js" defer></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <!-- SCRIPTS -->
  <script>
    new Swiper(".product-slider", {
      loop: true,
      slidesPerView: 4,
      spaceBetween: 30,
      navigation: {
        nextEl: ".slide-next",
        prevEl: ".slide-prev",
      },
      autoplay: {
        delay: 3000,
        disableOnInteraction: false,
      },
      breakpoints: {
        320: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        375: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        425: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 50,
        },
      },
    });

    new Swiper(".mySwiper", {
      loop: true,
      spaceBetween: 40,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
        dynamicBullets: true,
        clickable: true,
      },
      autoplay: {
        delay: 2000,
        disableOnInteraction: false,
      },
    });

    new Swiper(".blog-slider", {
      slidesPerView: 1,
      pagination: true,
      navigation: {
        nextEl: ".slide-next",
        prevEl: ".slide-prev",
      },
      breakpoints: {
        320: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        375: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        425: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        576: {
          slidesPerView: 4,
        },
        768: {
          slidesPerView: 3,
          spaceBetween: 40,
        },
        992: {
          slidesPerView: 4,
        },
      },
      autoplay: {
        delay: 3000,
        disableOnInteraction: false,
      },
      loop: true,
    });
  </script>
  <script>
    var customerReviewSwiper = new Swiper(".slide-container", {
      loop: true,
      slidesPerView: 1, // Ensures only one slide is shown at a time
      autoplay: {
        delay: 4000,
        disableOnInteraction: false,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
  <script>
    AOS.init();
  </script>
  <!-- aside -->
  <!-- <script>
    const body = document.querySelector("body"),
      sidebar = document.querySelector(".sidebar"),
      toggle = document.querySelector(".toggle"),
      modeSwitch = document.querySelector(".toggle-switch"),
      modeText = document.querySelector(".mode-text"),
      searchBtn = document.querySelector(".search-bar");

    // modeSwitch.addEventListener("click", () => {
    //   // body.classList.toggle("dark");
    //   //   document.querySelector(".mode-text").innertext=""

    //   if (body.classList.contains("dark")) {
    //     modeText.innerText = " Light Mode ";
    //   } else modeText.innerText = " Dark Mode ";
    // });

    toggle.addEventListener("click", () => {
      sidebar.classList.toggle("close");
    });

    searchBtn.addEventListener("click", () => {
      sidebar.classList.remove("close");
    });
  </script> -->
  <!-- tooltip -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const targets = document.querySelectorAll('[data-target="sidebar-tooltip"]');

      targets.forEach(target => {
        target.addEventListener("mouseenter", function () {
          console.log("Tooltip hovered: ", target);

          const tooltipText = target.getAttribute("data-title");
          let tooltip = document.createElement("div");
          tooltip.className = "custom-tooltip";
          tooltip.innerText = tooltipText;

          document.body.appendChild(tooltip);
          console.log("Tooltip created: ", tooltip);

          const targetRect = target.getBoundingClientRect();
          const tooltipRect = tooltip.getBoundingClientRect();

          tooltip.style.top = `${targetRect.top + window.scrollY + targetRect.height / 2 - tooltipRect.height / 2}px`;
          tooltip.style.left = `${targetRect.right + 15}px`; // Adjust to fit the tooltip correctly

          target._tooltip = tooltip;
          tooltip.classList.add("show");
        });

        target.addEventListener("mouseleave", function () {
          if (target._tooltip) {
            console.log("Tooltip removed");
            document.body.removeChild(target._tooltip);
            target._tooltip = null;
          }
        });
      });
    });

  </script>
  <!-- icon dropdown -->
  <script>
    document.querySelector('.icon-dropdown i').addEventListener('click', function () {
      const dropdownMenu = document.querySelector('.icon-dropdown .dropdown-menu');
      dropdownMenu.classList.toggle('show');
    });

  </script>
  <!--Block SCRIPTS-->
  {% block scripts %} {% endblock %}
  <!-- SCRIPTS-->

</body>



</html>